__pycache__/
*.py[cod]
*.log

.venv/
venv/
supplier_env/

db.sqlite3
media/
staticfiles/

.env
*.env

credentials.json
token.json
suppliers/gmail_messaging/credentials.json
suppliers/gmail_messaging/token.json

.vscode/
.idea/